
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> - Hydrogen</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
          rel="stylesheet" 
            integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
            crossorigin="anonymous">

        <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" href="/style.css?v=1">    
        <link href='https://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css' />

        <link rel="icon"
            type="image/png"
            href="/assets/favicon.ico" />

    </head>
<body>
        <div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/assets/your-inspiration-at-home.png" alt="home" /></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/home/about">About</a></li>
                <li><a href="/home/contact">Contact</a></li>
            </ul>
            
    <form method="post" id="logoutForm" class="navbar-right" action="/account/logoff">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a title="Manage" href="/manage">Hello !</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GDEVoH-MW5EsB770xN0gRAAhBJQRX7-vpX_6GUHbub7vtELkh7M9Po1_K8BqLBvXwaHzo1VdDI7vJrqgs-aYxDPaXL3zA2uVVUuQRZc8DwgXeLoHC7v-sxsr4_Opz7adk0DMJJEEzgrXXMGcqwXc1GCUz-a9c8saZXkLLaZpq6wzxLrB9fz2OouEYJcw0xszg" /></form>

        </div>
    </div>
</div>

<div class="container body-content">
    
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
                <div class="item active">
                    <img src="http://devcdn.cinsay.edgesuite.net/bizdemo/transcoded/f9269f84-b194-4c7a-908f-19fb6a3c9485/videoposter-1467040824150e1058ea2-2358-4080-bc63-390b750f242a.png">
                    <div class="carousel-caption">
                        <h4><a href="#">My First Video store</a></h4>
                        <div class="fb-share-button" 
                            data-href="http://player.bizdemo.cinsay.com/v4/6b64d255-0f2d-4323-88c6-a06601d85b81" 
                            data-layout="icon" 
                            data-mobile-iframe="true">
                                <a class="fb-xfbml-parse-ignore" target="_blank" 
                                    href="https://www.facebook.com/sharer/sharer.php?u=http://player.bizdemo.cinsay.com/v4/6b64d255-0f2d-4323-88c6-a06601d85b81&src=sdkpreparse">Share</a>
                            </div>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
                    </div>
                </div>
                <div class="item ">
                    <img src="http://devcdn.cinsay.edgesuite.net/bizdemo/transcoded/f9269f84-b194-4c7a-908f-19fb6a3c9485/videoposter-146704326722311b262c8-c301-46a2-944e-9efab772f9d2.png">
                    <div class="carousel-caption">
                        <h4><a href="#">Your Inspiration at Home 1</a></h4>
                        <div class="fb-share-button" 
                            data-href="http://player.bizdemo.cinsay.com/v4/6b64d255-0f2d-4323-88c6-a06601d85b81" 
                            data-layout="icon" 
                            data-mobile-iframe="true">
                                <a class="fb-xfbml-parse-ignore" target="_blank" 
                                    href="https://www.facebook.com/sharer/sharer.php?u=http://player.bizdemo.cinsay.com/v4/6b64d255-0f2d-4323-88c6-a06601d85b81&src=sdkpreparse">Share</a>
                            </div>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
                    </div>
                </div>
                 <div class="item ">
                    <img src="http://devcdn.cinsay.edgesuite.net/bizdemo/transcoded/f9269f84-b194-4c7a-908f-19fb6a3c9485/videoposter-146704326722311b262c8-c301-46a2-944e-9efab772f9d2.png">
                    <div class="carousel-caption">
                        <h4><a href="#">Your Inspiration at Home 2</a></h4>
                        <div class="fb-share-button" 
                            data-href="http://player.bizdemo.cinsay.com/v4/6b64d255-0f2d-4323-88c6-a06601d85b81" 
                            data-layout="icon" 
                            data-mobile-iframe="true">
                                <a class="fb-xfbml-parse-ignore" target="_blank" 
                                    href="https://www.facebook.com/sharer/sharer.php?u=http://player.bizdemo.cinsay.com/v4/6b64d255-0f2d-4323-88c6-a06601d85b81&src=sdkpreparse">Share</a>
                            </div>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
                    </div>
                </div>
                 <div class="item ">
                    <img src="http://devcdn.cinsay.edgesuite.net/bizdemo/transcoded/f9269f84-b194-4c7a-908f-19fb6a3c9485/videoposter-146704326722311b262c8-c301-46a2-944e-9efab772f9d2.png">
                    <div class="carousel-caption">
                        <h4><a href="#">Your Inspiration at Home 3</a></h4>
                        <div class="fb-share-button" 
                            data-href="http://player.bizdemo.cinsay.com/v4/6b64d255-0f2d-4323-88c6-a06601d85b81" 
                            data-layout="icon" 
                            data-mobile-iframe="true">
                                <a class="fb-xfbml-parse-ignore" target="_blank" 
                                    href="https://www.facebook.com/sharer/sharer.php?u=http://player.bizdemo.cinsay.com/v4/6b64d255-0f2d-4323-88c6-a06601d85b81&src=sdkpreparse">Share</a>
                            </div>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
                    </div>
                </div>
                 <div class="item ">
                    <img src="http://devcdn.cinsay.edgesuite.net/bizdemo/transcoded/f9269f84-b194-4c7a-908f-19fb6a3c9485/videoposter-146704326722311b262c8-c301-46a2-944e-9efab772f9d2.png">
                    <div class="carousel-caption">
                        <h4><a href="#">Your Inspiration at Home 4</a></h4>
                        <div class="fb-share-button" 
                            data-href="http://player.bizdemo.cinsay.com/v4/6b64d255-0f2d-4323-88c6-a06601d85b81" 
                            data-layout="icon" 
                            data-mobile-iframe="true">
                                <a class="fb-xfbml-parse-ignore" target="_blank" 
                                    href="https://www.facebook.com/sharer/sharer.php?u=http://player.bizdemo.cinsay.com/v4/6b64d255-0f2d-4323-88c6-a06601d85b81&src=sdkpreparse">Share</a>
                            </div>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
                    </div>
                </div>
    </div><!-- End Carousel Inner -->


    <ul class="list-group col-sm-4">
                <li data-target="#myCarousel" data-slide-to="0" class="list-group-item  active"><h4>My First Video store</h4></li>
                <li data-target="#myCarousel" data-slide-to="1" class="list-group-item  "><h4>Your Inspiration at Home 1</h4></li>
                <li data-target="#myCarousel" data-slide-to="2" class="list-group-item  "><h4>Your Inspiration at Home 2</h4></li>
                <li data-target="#myCarousel" data-slide-to="3" class="list-group-item  "><h4>Your Inspiration at Home 3</h4></li>
                <li data-target="#myCarousel" data-slide-to="4" class="list-group-item  "><h4>Your Inspiration at Home 4</h4></li>
                
    </ul>

    <!-- Controls -->
    <div class="carousel-controls">
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

</div><!-- End Carousel -->

    <hr/>
    <footer>

        <p><em>&copy; 2016 - JRJR Networks. All rights reserved.</em></p>

    </footer>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
        <script src="/client.js"></script>

        <div id="fb-root"></div>
        <script>
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1724067881169895";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>
